parameters:
	level: 8
	strictRules:
	  booleansInConditions: true
    ignoreErrors:
      - '#Construct empty\(\) is not allowed. Use more strict comparison.#'
    stubFiles:
      - ../../../../.dotfiles/roles/neovim/files/phpstan_stubs/doctrine_dbal_connection.stub.php
      - ../../../../.dotfiles/roles/neovim/files/phpstan_stubs/json.stub.php
	symfony:
        containerXmlPath: var/cache/dev/srcApp_KernelDevDebugContainer.xml
	shipmonkRules:
      allowComparingOnlyComparableTypes:
        enabled: true
      backedEnumGenerics:
        enabled: true
      classSuffixNaming:
        enabled: true
        superclassToSuffixMapping: []
      enforceClosureParamNativeTypehint:
        enabled: true
        allowMissingTypeWhenInferred: false
      enforceEnumMatch:
        enabled: true
      enforceIteratorToArrayPreserveKeys:
        enabled: true
      enforceListReturn:
        enabled: true
      enforceNativeReturnTypehint:
        enabled: true
      enforceReadonlyPublicProperty:
        enabled: true
      forbidArithmeticOperationOnNonNumber:
        enabled: true
        allowNumericString: false
      forbidCast:
        enabled: true
        blacklist: ['(array)', '(object)', '(unset)']
      forbidCheckedExceptionInCallable:
        enabled: true
        allowedCheckedExceptionCallables: []
      forbidCheckedExceptionInYieldingMethod:
        enabled: true
      forbidCustomFunctions:
        enabled: true
        list: []
      forbidEnumInFunctionArguments:
        enabled: true
      forbidFetchOnMixed:
        enabled: true
      forbidIdenticalClassComparison:
        enabled: true
        blacklist: ['DateTimeInterface']
      forbidIncrementDecrementOnNonInteger:
        enabled: true
      forbidMatchDefaultArmForEnums:
        enabled: true
      forbidMethodCallOnMixed:
        enabled: true
      forbidNotNormalizedType:
        enabled: true
        checkDisjunctiveNormalForm: true
      forbidNullInAssignOperations:
        enabled: true
        blacklist: ['??=']
      forbidNullInBinaryOperations:
        enabled: true
        blacklist: ['===', '!==', '??']
      forbidNullInInterpolatedString:
        enabled: true
      forbidPhpDocNullabilityMismatchWithNativeTypehint:
        enabled: true
      forbidProtectedEnumMethod:
        enabled: true
      forbidReturnValueInYieldingMethod:
        enabled: true
        reportRegardlessOfReturnType: true
      forbidUnsafeArrayKey:
        enabled: true
        reportMixed: true
        reportInsideIsset: true
      forbidVariableTypeOverwriting:
        enabled: true
      forbidUnsetClassField:
        enabled: true
      forbidUselessNullableReturn:
        enabled: true
      forbidUnusedException:
        enabled: true
      forbidUnusedMatchResult:
        enabled: true
      requirePreviousExceptionPass:
        enabled: true
        reportEvenIfExceptionIsNotAcceptableByRethrownOne: true
      uselessPrivatePropertyDefaultValue:
        enabled: true
      uselessPrivatePropertyNullability:
        enabled: true


includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- /home/joey/.config/composer/vendor/phpstan/phpstan-strict-rules/rules.neon
	- /home/joey/.config/composer/vendor/phpstan/phpstan-phpunit/extension.neon
	- /home/joey/.config/composer/vendor/phpstan/phpstan-symfony/extension.neon
	- /home/joey/.config/composer/vendor/shipmonk/phpstan-rules/rules.neon
	- /home/joey/.config/composer/vendor/shipmonk/dead-code-detector/rules.neon
	- /home/joey/.config/composer/vendor/spaze/phpstan-disallowed-calls/extension.neon
	- /home/joey/.config/composer/vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
	- /home/joey/.config/composer/vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
	- /home/joey/.config/composer/vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
	- /home/joey/.config/composer/vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon

