# NixOS
flake.lock
result
result-*

# Development files
/i3
/nvim
/alacritty
/test.php
/test.html
/composer.json
/composer.lock
/vendor
/lazygit.tar.gz
/phpstan.neon
/configured.env
nvim/.config/nvim/init.vim

