# NixOS
result
result-*

# Development files
/i3
/nvim
/alacritty
/test.php
/test.html
/composer.json
/composer.lock
/vendor
/lazygit.tar.gz
/phpstan.neon
/configured.env
/roles/php/global-composer/vendor
nvim/.config/nvim/init.vim

